body, html {
	font-family: "Roboto";
	min-height: 100vh;
	min-width: 100vw;
	position: cover;
	background-color: #EEEEEE;
}

#navbar{
	background-color: #272D4E;
}
#logo{
	height: 50px;
	width: 50px;
	margin-top: 5px;

}
#options{
	margin-top: 30px;
	width: 40%;
}
#createSection{
	width: 40%;
	background-color: #FFFFFF;
}
#btn{
	background-color: #7A7F99;
}
#input{
	padding-left: 25px;
	padding-right: 25px;
}
.input-field label {
     color: #000;
}
.input-field input[type=text]:focus + label {
     color: #000;
}
.input-field input[type=text]:focus {
     border-bottom: 1px solid #FFD700;
     box-shadow: 0 1px 0 0 #FFD700;
}
.header{
	color: #B0B2B5;
}
.queryheader{
	color: #414B82;
}